html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  /*background-color: rgb(196, 226, 255);*/
  background-image: url("./background.png");
}

img {
  width: 100%;
}

#root {
  position: absolute;
  min-height: 100%;
  height: 100%;
}
.App {
  min-height: 100%;
  height: 100%;
}

.Container {
  width: 90%;
  min-height: 100%;
  margin: auto;
  background-color: white;
}

.Header h1 {
  font-family: "Bodoni MT";
  padding: 1%;
}

.AutoCompleteSearch {
  width: 90%;
  margin: auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
  position: relative;
}

.AutoCompleteSearch input {
  width: 100%;
  border: 1px solid gray;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
  padding: 10px 5px;
  box-sizing: border-box;
  position: relative;
}

.AutoCompleteSearch ul {
  position: absolute;
  z-index: 1;
  list-style-type: none;
  text-align: left;
  margin: auto;
  padding: 0;
  border: 1px solid gray;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  width: 100%;
  background-color: white;
  left: 50%;
  transform: translate(-50.0005%, 0);
}

.AutoCompleteSearch ul::before {
  content: "";
}

.AutoCompleteSearch li {
  padding: 10px 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.AutoCompleteSearch li:hover {
  text-decoration: underline;
  color: white;
  background-color: rgba(38, 38, 114, 0.92);
}

.test {
  position: relative;
}

.Options {
  width: 90%;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.Box {
  border: 1px solid black;
  background-color: rgb(196, 226, 255);
  width: 40%;
  box-sizing: border-box;
  padding: 0.5%;
}

.OptionsHeader {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.buttonSort {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 40%;
  font-size: 1.2vw;
  margin: 4px 2px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonExport {
  background-color: #ffc400;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  text-align: center;
  border: 2px solid gray;
  display: inline-block;
  width: 15vw;
  font-size: 1.2vw;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Add mouse hover effect for buttons. For some reason still works on some mobile devices.*/
@media (pointer: fine) {
  .buttonSort:hover {
    background-color: rgb(0, 250, 21);
    border: 2px solid white;
  }

  .buttonExport:hover {
    background-color: yellow;
    border: 2px solid white;
    color: gray;
  }
}

.buttonSort:active {
  background-color: rgb(171, 241, 177);
  box-shadow: none;
  transform: translateY(6px);
}

.highlighted {
  background-color: rgb(0, 250, 21);
  border: 2px solid white;
}

.notHighlighted {
  background-color: #4caf50;
  border: 2px solid gray;
}

hr {
  width: 90%;
}

.Table {
  width: 90%;
  margin: auto;
}

.Table table {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  table-layout: fixed;
  font-size: 1vw;
}

.Table table th,
td {
  padding: 1%;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

.hundo {
  background-color: #4bd5ff;
}

.ninetyEight {
  background-color: #9dff65;
}

.ninetySix {
  background-color: #f7fa63;
}

.ninetyThree {
  background-color: rgb(255, 194, 80);
}

.ninetyOne {
  background-color: rgb(236, 125, 125);
}

.nundo {
  background-color: rgb(201, 201, 201);
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2vw;
}

@media only screen and (max-width: 600px) {
  .Table table {
    font-size: 2.5vw;
    width: 100%;
  }

  .Table table th,
  td {
    padding: 0.1%;
  }

  .Table table th {
    font-size: 1.5vw;
  }

  h1 {
    font-size: 4vw;
  }

  .buttonSort {
    width: 60%;
    font-size: 1.75vw;
  }
}

footer {
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6vw;
}

.tableImage img {
  width: 20%;
  height: 20%;
}
